{% if advertisement %}
// {{ advertisement }}
{% endif %}
#pragma once

#include "rclcpp/rclcpp.hpp"
{% if tf_listener %}
#include "tf2_ros/buffer.h"
#include "tf2_ros/transform_listener.h"
{% endif %}
{% for include in includes %}
#include "{{ include }}"
{% endfor %}
{% if action_clients %}
#include <future>
{# Remove for Galactic and higher #}
{% endif %}

{% if node_ns %}
namespace {{ node_ns }}
{
{% endif %}

class {{ node_classname }} : public rclcpp::Node
{
public:
    {{ node_classname }}({% if is_component %}const rclcpp::NodeOptions & options{% endif %});
    
private:
    {% if tf_listener %}
    std::shared_ptr<tf2_ros::Buffer> tf_buffer;
    std::shared_ptr<tf2_ros::TransformListener> tf_listener;
    {% endif %}
    {% for pub in publishers %}
    rclcpp::Publisher<{{ pub.msg_type }}>::SharedPtr {{ pub.var_name }};
    {% endfor %}
    {% set suffixes = {'obj': '', 'uptr': '::UniquePtr', 'sptr': '::SharedPtr', 'csptr': '::ConstSharedPtr'} %}
    {% for sub in subscribers %}
    rclcpp::Subscription<{{ sub.msg_type }}>::SharedPtr {{ sub.var_name }};
    void {{ sub.callback }}(const {{ sub.msg_type }}{{ suffixes[sub.callback_arg_type] }} msg);
    {% endfor %}
    {% for tim in timers %}
    rclcpp::TimerBase::SharedPtr {{ tim.var_name }};
    void {{ tim.callback }}();
    {% endfor %}
    {% for srv in services %}
    rclcpp::Service<{{ srv.type }}>::SharedPtr {{ srv.var_name }};
    void {{ srv.callback }}(
        const std::shared_ptr<{{ srv.type }}::Request> request, 
        std::shared_ptr<{{ srv.type }}::Response> response);
    {% endfor %}
    {% for client in clients %}
    rclcpp::Client<{{ client.type }}>::SharedPtr {{ client.var_name }};
    {% endfor %}
    {% for action_srv in action_servers %}
    rclcpp_action::Server<{{ action_srv.type }}>::SharedPtr {{ action_srv.var_name }};
    rclcpp_action::GoalResponse {{ action_srv.handle_goal }}(const rclcpp_action::GoalUUID & uuid, std::shared_ptr<const {{ action_srv.type }}::Goal> goal);
    rclcpp_action::CancelResponse {{ action_srv.handle_cancel }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle);
    void {{ action_srv.handle_accepted }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle);
    void {{ action_srv.execute }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle);
    {% endfor %}
    {% for action_client in action_clients %}
    rclcpp_action::Client<{{ action_client.type }}>::SharedPtr {{ action_client.var_name }};
    rclcpp::TimerBase::SharedPtr {{ action_client.var_name }}_once_timer;
    void {{ action_client.var_name }}_once_timer_cb();
    {% block goal_response_callback scoped %}
    void {{ action_client.goal_response_callback }}(std::shared_future<rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::SharedPtr> future);
    {% endblock %}
    void {{ action_client.feedback_callback }}(
        rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::SharedPtr gh, 
        const std::shared_ptr<const {{ action_client.type }}::Feedback> feedback);
    void {{ action_client.result_callback }}(const rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::WrappedResult & result);
    {% endfor %}
    {% for i in range(sync_subscribers|length) %}
        {% for sub in  sync_subscribers[i].subs %}
    std::shared_ptr<message_filters::Subscriber<{{ sub.msg_type }}>> {{ sub.var_name }};
        {% endfor %}
    using SyncPolicy{{ i+1 }}_t = message_filters::sync_policies::{{ sync_subscribers[i].sync_policy }}<
        {% for sub in sync_subscribers[i].subs %}
        {{ sub.msg_type }}{% if not loop.last %},{% endif %} 
        {% endfor %}
        >;
    std::shared_ptr<message_filters::Synchronizer<SyncPolicy{{ i+1 }}_t>> {{ sync_subscribers[i].var_name }};
    void {{ sync_subscribers[i].callback }}(
        {% for j in range(sync_subscribers[i].subs|length) %}
        const {{ sync_subscribers[i].subs[j].msg_type }}::ConstSharedPtr& msg_{{ j+1 }}{% if not loop.last %},{% endif %} 
        {% endfor %}
    );
    {% endfor %}
};

{% if node_ns %}
} // namespace {{ node_ns }}
{% endif %}