{% if advertisement %}
// {{ advertisement }}
{% endif %}
#include "{{ package_name }}/{{ node_filename }}.hpp"
{% if timers %}
#include <chrono>
using namespace std::chrono_literals;
{% endif %}
{% if action_servers %}
#include <thread>
{% endif %}
{% from 'foxy/qos_macros.jinja2' import generate_qos_expression %}
{% if node_ns %}
namespace {{ node_ns }}
{
{% endif %}

{{ node_classname }}::{{ node_classname }}({% if is_component %}const rclcpp::NodeOptions& options{% endif %}): Node("{{ node_name }}"{% if is_component %}, options{% endif %})
{
    {% if tf_listener %}
    // TF
    this->tf_buffer = std::make_shared<tf2_ros::Buffer>(this->get_clock());
    this->tf_listener = std::make_shared<tf2_ros::TransformListener>(*this->tf_buffer);
    {% endif %}
    {% if params %}
    // Params
    {% endif %}
    {% for par in params %}
    auto {{ par.name }} = this->declare_parameter<{{ par.type }}>("{{ par.name }}", {{ par.default }});
    {% endfor %}
    
    {% if publishers %}
    // Publishers
    {% endif %}
    {% for pub in publishers %}
    {% if is_component and pub.qos.is_transient_local %}
    rclcpp::PublisherOptions {{ pub.var_name }}_opts;
    {{ pub.var_name }}_opts.use_intra_process_comm = rclcpp::IntraProcessSetting::Disable;
    {% endif %}
    {% block pub_init scoped %}
    this->{{ pub.var_name }} = this->create_publisher<{{ pub.msg_type }}>(
        "{{ pub.topic }}", 
        {{ generate_qos_expression(pub.qos) }}
        {% if is_component and pub.qos.is_transient_local %}
        , {{ pub.var_name }}_opts
        {% endif %}
    );
    {% endblock %}
    {% endfor %}
    
    {% if subscribers %}
    // Subscribers
    {% endif %}
    {% for sub in subscribers %}
    {% if is_component and sub.qos.is_transient_local %}
    rclcpp::SubscriptionOptions {{ sub.var_name }}_opts{};
    {{ sub.var_name }}_opts.use_intra_process_comm = rclcpp::IntraProcessSetting::Disable;
    {% endif %}
    {% block sub_init scoped %}
    this->{{ sub.var_name }} = this->create_subscription<{{ sub.msg_type }}>(
        "{{ sub.topic }}", 
        {{ generate_qos_expression(sub.qos) }}, 
        [&]({{ sub.msg_type }}{{ sub.callback_arg_type }} msg) { this->{{ sub.callback }}(std::move(msg)); }
        {% if is_component and sub.qos.is_transient_local %}
        , {{ sub.var_name }}_opts
        {% endif %}
    );
    {% endblock %}
    {% endfor %}

    {% if timers %}
    // Timers
    {% endif %}
    {% for tim in timers %}
    this->{{ tim.var_name }} = this->create_wall_timer({{ tim.period }}ms, [&](){ this->{{ tim.callback }}(); });
    {% endfor %}

    {% if services %}
    // Services
    {% endif %}
    {% for srv in services %}
    this->{{ srv.var_name }} = this->create_service<{{ srv.type }}>("{{ srv.name }}", 
      [this](const std::shared_ptr<{{ srv.type }}::Request> request, std::shared_ptr<{{ srv.type }}::Response> response){ this->{{ srv.callback }}(std::move(request), std::move(response)); }
    );
    {% endfor %}
    
    {% if clients %}
    // Clients
    {% endif %}
    {% for client in clients %}
    this->{{ client.var_name }} = this->create_client<{{ client.type }}>("{{ client.srv_name }}");
    {% endfor %}
    {% if clients %}
    // TODO: add waiting for services
    {% endif %}

    {% if action_servers %}
    // Action servers
    {% endif %}
    {% for action_srv in action_servers %}
    this->{{ action_srv.var_name }} = rclcpp_action::create_server<{{ action_srv.type }}>(
        this,
        "{{ action_srv.name }}",
        [this](const rclcpp_action::GoalUUID & uuid, std::shared_ptr<const {{ action_srv.type }}::Goal> goal){return this->{{ action_srv.handle_goal }}(std::move(uuid), std::move(goal));},
        [this](const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle){return this->{{ action_srv.handle_cancel }}(std::move(goal_handle));},
        [this](const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle){this->{{ action_srv.handle_accepted }}(std::move(goal_handle));}
    );
    {% endfor %}

    {% if action_clients %}
    // Action clients
    {% endif %}
    {% for action_client in action_clients %}
    this->{{ action_client.var_name }} = rclcpp_action::create_client<{{ action_client.type }}>(
      this,
      "{{ action_client.srv_name}}");

    this->{{ action_client.var_name }}_once_timer = this->create_wall_timer(
      std::chrono::milliseconds(500),
      [&](){ this->{{ action_client.var_name }}_once_timer_cb(); });
    {% endfor %}
    
    {% if sync_subscribers %}
    // Synchronized subscribers (message_filters)
    {% endif %}
    {% if sync_subscribers %}
    using namespace std::placeholders;
    {% endif %}
    {% for i in range(sync_subscribers|length) %}
        {% for sub in  sync_subscribers[i].subs %}
    rclcpp::QoS {{ sub.var_name }}_qos(4);
    this->{{ sub.var_name }} = std::make_shared<message_filters::Subscriber<{{ sub.msg_type }}>>(this, "{{ sub.topic }}", {{ sub.var_name }}_qos.get_rmw_qos_profile());
        {% endfor %}
    this->{{ sync_subscribers[i].var_name }} = std::make_shared<message_filters::Synchronizer<SyncPolicy{{ i+1 }}_t>>(
        SyncPolicy{{ i+1 }}_t({{ sync_subscribers[i].queue_size }}{% if sync_subscribers[i].sync_policy == 'ApproximateEpsilonTime' %}, rclcpp::Duration::from_seconds({{ sync_subscribers[i].epsilon }} * 0.001){% endif %}), 
        {% for j in range(sync_subscribers[i].subs|length) %}
        *{{ sync_subscribers[i].subs[j].var_name }}{% if not loop.last %},{% endif %} 
        {% endfor %}
    );
    this->{{ sync_subscribers[i].var_name }}->registerCallback(
    std::bind(&{{ node_classname }}::{{ sync_subscribers[i].callback }}, this, {% for i in range(sync_subscribers[i].subs|length) %}_{{ i+1 }}{% if not loop.last %},{% endif %} {% endfor %}));
    {% endfor %}
}

{% for sub in subscribers %}
{% block sub_cb_init scoped%}
void {{ node_classname }}::{{ sub.callback }}(const {{ sub.msg_type }}{{ sub.callback_arg_type }} msg)
{
    // TODO: add implementation
}
{% endblock %}
{% endfor %}

{% for tim in timers %}
void {{ node_classname }}::{{ tim.callback }}()
{
    // TODO: add implementation
}
{% endfor %}

{% for srv in services %}
void {{ node_classname }}::{{ srv.callback }}(
  const std::shared_ptr<{{ srv.type }}::Request> request, 
  std::shared_ptr<{{ srv.type }}::Response> response)
{
    // TODO: add implementation
}
{% endfor %}

{% for action_srv in action_servers %}
rclcpp_action::GoalResponse {{ node_classname }}::{{ action_srv.handle_goal }}([[maybe_unused]] const rclcpp_action::GoalUUID & uuid, std::shared_ptr<const {{ action_srv.type }}::Goal> goal)
{
    // TODO: add implementation
    return rclcpp_action::GoalResponse::ACCEPT_AND_EXECUTE;
}
rclcpp_action::CancelResponse {{ node_classname }}::{{ action_srv.handle_cancel }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: add implementation
    return rclcpp_action::CancelResponse::ACCEPT;
}
void {{ node_classname }}::{{ action_srv.handle_accepted }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: change implementation if necessary
    std::thread{[this, goal_handle](){this->{{ action_srv.execute }}(goal_handle);}}.detach();
}
void {{ node_classname }}::{{ action_srv.execute }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: add implementation
    rclcpp::Rate loop_rate(1);
    auto feedback = std::make_shared<{{ action_srv.type }}::Feedback>();
    auto result = std::make_shared<{{ action_srv.type }}::Result>();
    // TODO: change loop condition
    const size_t num_steps = 10;
    for (size_t i = 0; (i < num_steps) && rclcpp::ok(); ++i)
    {
        if (goal_handle->is_canceling())
        {
            // TODO: update result
            goal_handle->canceled(result);
            return;
        }
        // TODO: update feedback
        goal_handle->publish_feedback(feedback);
        loop_rate.sleep();
    }
    if (rclcpp::ok())
    {
        // TODO: update result
        goal_handle->succeed(result);
    }
}
{% endfor %}

{% for action_client in action_clients %}
void {{ node_classname }}::{{ action_client.var_name }}_once_timer_cb()
{
    // TODO: change implementation if necessary
    this->{{ action_client.var_name }}_once_timer->cancel();

    if (!this->{{ action_client.var_name }}->wait_for_action_server())
    {
      RCLCPP_ERROR(this->get_logger(), "Action server not available after waiting");
      // rclcpp::shutdown();
    }

    using Action_t = {{ action_client.type }};
    using GoalHandle_t = rclcpp_action::ClientGoalHandle<Action_t>;
    auto goal_msg = Action_t::Goal();
    // TODO: fill goal_msg

    auto goal_options = rclcpp_action::Client<Action_t>::SendGoalOptions();
    {% block goal_response_callback_set scoped %}
    goal_options.goal_response_callback = 
      [this](std::shared_future<GoalHandle_t::SharedPtr> future){this->{{ action_client.goal_response_callback }}(std::move(future));};
    {% endblock %}
    goal_options.feedback_callback =
      [this](GoalHandle_t::SharedPtr gh, const std::shared_ptr<const Action_t::Feedback> feedback){this->{{ action_client.feedback_callback }}(std::move(gh), std::move(feedback));};
    goal_options.result_callback =
      [this](const GoalHandle_t::WrappedResult & result){this->{{ action_client.result_callback }}(std::move(result));};
    this->{{ action_client.var_name }}->async_send_goal(goal_msg, goal_options);
}

{% block goal_response_callback_def scoped %}
void {{ node_classname }}::{{ action_client.goal_response_callback }}(std::shared_future<rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::SharedPtr> future)
{
    // TODO: change implementation if necessary
    auto goal_handle = future.get();
    if (!goal_handle)
    {
      RCLCPP_ERROR(this->get_logger(), "Goal was rejected by server");
    }
    else
    {
      RCLCPP_INFO(this->get_logger(), "Goal accepted by server, waiting for result");
    }
}
{% endblock %}
void {{ node_classname }}::{{ action_client.feedback_callback }}(
    rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::SharedPtr gh, 
    const std::shared_ptr<const {{ action_client.type }}::Feedback> feedback)
{
    // TODO: add implementation
}
void {{ node_classname }}::{{ action_client.result_callback }}(const rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::WrappedResult & result)
{
    // TODO: change implementation if necessary
    switch (result.code)
    {
        case rclcpp_action::ResultCode::SUCCEEDED:
            break;
        case rclcpp_action::ResultCode::ABORTED:
            RCLCPP_ERROR(this->get_logger(), "Goal was aborted");
            return;
        case rclcpp_action::ResultCode::CANCELED:
            RCLCPP_ERROR(this->get_logger(), "Goal was canceled");
            return;
        default:
            RCLCPP_ERROR(this->get_logger(), "Unknown result code");
            return;
    }
}
{% endfor %}

{% for sync_subs in  sync_subscribers %}
void {{ node_classname }}::{{ sync_subs.callback }}(
  {% for i in range(sync_subs.subs|length) %}
  const {{ sync_subs.subs[i].msg_type }}::ConstSharedPtr& msg_{{ i+1 }}{% if not loop.last %},{% endif %} 
  {% endfor %}
)
{
    // TODO: add implementation
}
{% endfor %}

{% if node_ns %}
} // namespace {{ node_ns }}
{% endif %}

{% if is_component %}
#include "rclcpp_components/register_node_macro.hpp"
RCLCPP_COMPONENTS_REGISTER_NODE({{ node_ns + '::' if node_ns }}{{ node_classname }})
{% else %}
int main(int argc, char ** argv)
{
  rclcpp::init(argc, argv);
  auto node = std::make_shared<{{ node_ns + '::' if node_ns }}{{ node_classname }}>();
  rclcpp::spin(node);
  rclcpp::shutdown();
  return 0;
}
{% endif %}