{% for action_srv in action_servers %}
rclcpp_action::GoalResponse {{ node_classname }}::{{ action_srv.handle_goal }}([[maybe_unused]] const rclcpp_action::GoalUUID & uuid, std::shared_ptr<const {{ action_srv.type }}::Goal> goal)
{
    // TODO: add implementation
    return rclcpp_action::GoalResponse::ACCEPT_AND_EXECUTE;
}
rclcpp_action::CancelResponse {{ node_classname }}::{{ action_srv.handle_cancel }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: add implementation
    return rclcpp_action::CancelResponse::ACCEPT;
}
void {{ node_classname }}::{{ action_srv.handle_accepted }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: change implementation if necessary
    std::thread{[this, goal_handle](){this->{{ action_srv.execute }}(goal_handle);}}.detach();
}
void {{ node_classname }}::{{ action_srv.execute }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: add implementation
    rclcpp::Rate loop_rate(1);
    auto feedback = std::make_shared<{{ action_srv.type }}::Feedback>();
    auto result = std::make_shared<{{ action_srv.type }}::Result>();
    // TODO: change loop condition
    const size_t num_steps = 10;
    for (size_t i = 0; (i < num_steps) && rclcpp::ok(); ++i)
    {
        if (goal_handle->is_canceling())
        {
            // TODO: update result
            goal_handle->canceled(result);
            return;
        }
        // TODO: update feedback
        goal_handle->publish_feedback(feedback);
        loop_rate.sleep();
    }
    if (rclcpp::ok())
    {
        // TODO: update result
        goal_handle->succeed(result);
    }
}
{% endfor %}