{% from 'elements/qos_macros.jinja2' import generate_qos_expression %}
    {% for pub in publishers %}
    this->{{ pub.var_name }} = this->create_publisher<{{ pub.msg_type }}>("{{ pub.topic }}", {{ generate_qos_expression(pub.qos) }});
    {% endfor %}