{% from 'elements/qos_macros.jinja2' import generate_qos_expression %}
    {% for sub in subscribers %}
    this->{{ sub.var_name }} = this->create_subscription<{{ sub.msg_type }}>(
        "{{ sub.topic }}", 
        {{ generate_qos_expression(sub.qos) }}, 
        [&]({{ sub.msg_type }}{{ suffixes[sub.callback_arg_type] }} msg) { this->{{ sub.callback }}(std::move(msg)); });
    {% endfor %}