    {% for i in range(sync_subscribers|length) %}
        {% for sub in  sync_subscribers[i].subs %}
    std::shared_ptr<message_filters::Subscriber<{{ sub.msg_type }}>> {{ sub.var_name }};
        {% endfor %}
    using SyncPolicy{{ i+1 }}_t = message_filters::sync_policies::{{ sync_subscribers[i].sync_policy }}<
        {% for sub in sync_subscribers[i].subs %}
        {{ sub.msg_type }}{% if not loop.last %},{% endif %} 
        {% endfor %}
        >;
    std::shared_ptr<message_filters::Synchronizer<SyncPolicy{{ i+1 }}_t>> {{ sync_subscribers[i].var_name }};
    void {{ sync_subscribers[i].callback }}(
        {% for j in range(sync_subscribers[i].subs|length) %}
        const {{ sync_subscribers[i].subs[j].msg_type }}::ConstSharedPtr& msg_{{ j+1 }}{% if not loop.last %},{% endif %} 
        {% endfor %}
    );
    {% endfor %}