    {% if sync_subscribers %}
    using namespace std::placeholders;
    {% endif %}
    {% for sync_subs in  sync_subscribers %}
        {% for sub in  sync_subs.subs %}
    rclcpp::QoS {{ sub.var_name }}_qos(4);
    this->{{ sub.var_name }} = std::make_shared<message_filters::Subscriber<{{ sub.msg_type }}>>(this, "{{ sub.topic }}", {{ sub.var_name }}_qos.get_rmw_qos_profile());
        {% endfor %}
    this->{{ sync_subs.var_name }} = std::make_shared<message_filters::Synchronizer<SyncPolicy>>(
    SyncPolicy({{ sync_subs.queue_size }}), 
        {% for i in range(sync_subs.subs|length) %}
        *{{ sync_subs.subs[i].var_name }}{% if not loop.last %},{% endif %} 
        {% endfor %}
    );
    this->{{ sync_subs.var_name }}->registerCallback(
    std::bind(&{{ node_classname }}::{{ sync_subs.callback }}, this, {% for i in range(sync_subs.subs|length) %}_{{ i+1 }}{% if not loop.last %},{% endif %} {% endfor %}));
    {% endfor %}