{% extends "foxy/node.hpp.jinja2" %}
{% block goal_response_callback scoped %}
    void {{ action_client.goal_response_callback }}(rclcpp_action::ClientGoalHandle<{{ action_client.type }}>::SharedPtr gh);
{% endblock %}