<?xml version="1.0"?>
<?xml-model href="http://download.ros.org/schema/package_format3.xsd" schematypens="http://www.w3.org/2001/XMLSchema"?>
{% if advertisement %}
<!-- {{ advertisement }} -->
{% endif %}
<package format="3">
  <name>{{ package_name }}</name>
  <version>0.0.0</version>
  <description>TODO: Package description</description>
  <maintainer email="TODO@EMAIL.COM">MAINTAINER</maintainer>
  <license>TODO</license>

  <buildtool_depend>ament_python</buildtool_depend>

  <depend>rclpy</depend>
  {% if tf_listener %}
  <depend>tf2_ros</depend>
  {% endif %}
  {% for pkg in include_pkgs %}
  <depend>{{ pkg }}</depend>
  {% endfor %}

  <test_depend>ament_copyright</test_depend>
  <test_depend>ament_flake8</test_depend>
  <test_depend>ament_pep257</test_depend>
  <test_depend>python3-pytest</test_depend>

  <export>
    <build_type>ament_python</build_type>
  </export>
</package>
