{% if advertisement %}
// {{ advertisement }}
{% endif %}
#include "{{ package_name }}/{{ node_filename }}.hpp"
{% if timers %}
#include <chrono>
using namespace std::chrono_literals;
{% endif %}
{% if action_servers %}
#include <thread>
{% endif %}

{% if node_ns %}
namespace {{ node_ns }}
{
{% endif %}
{% set suffixes = {'obj': '', 'uptr': '::UniquePtr', 'sptr': '::SharedPtr', 'csptr': '::ConstSharedPtr'} %}

{{ node_classname }}::{{ node_classname }}({% if is_component %}const rclcpp::NodeOptions& options{% endif %}): Node("{{ node_name }}"{% if is_component %}, options{% endif %})
{% if tf_listener %}
, tf_buffer_(this->get_clock()),
  tf_listener_(tf_buffer_)
{% endif %}
{
    {% if params %}
    // Params
    {% endif %}
    {% for par in params %}
    auto {{ par.name }} = this->declare_parameter<{{ par.type }}>("{{ par.name }}", {{ par.default }});
    {% endfor %}
    
    {% if publishers %}
    // Publishers
    {% endif %}
    {% include 'elements/pubs.ctor.cpp.j2' %}
    
    {% if subscribers %}
    // Subscribers
    {% endif %}
    {% include 'elements/subs.ctor.cpp.j2' %}

    {% if timers %}
    // Timers
    {% endif %}
    {% for tim in timers %}
    this->{{ tim.var_name }} = this->create_wall_timer({{ tim.period }}ms, [&](){ this->{{ tim.callback }}(); });
    {% endfor %}

    {% if services %}
    // Services
    {% endif %}
    {% for srv in services %}
    this->{{ srv.var_name }} = this->create_service<{{ srv.type }}>("{{ srv.name }}", 
      [this](const std::shared_ptr<{{ srv.type }}::Request> request, std::shared_ptr<{{ srv.type }}::Response> response){ this->{{ srv.callback }}(std::move(request), std::move(response)); }
    );
    {% endfor %}
    
    {% if clients %}
    // Clients
    {% endif %}
    {% for client in clients %}
    this->{{ client.var_name }} = this->create_client<{{ client.type }}>("{{ client.srv_name }}");
    {% endfor %}
    {% if clients %}
    // TODO: add waiting for services
    {% endif %}

    {% if action_servers %}
    // Action servers
    {% endif %}
    {% include 'elements/action_servers.ctor.cpp.j2' %}

    {% if action_clients %}
    // Action clients
    {% endif %}
    {% include 'elements/action_clients.ctor.cpp.j2' %}
    
    {% if sync_subscribers %}
    // Synchronized subscribers (message_filters)
    {% endif %}
    {% include 'elements/sync_subs.ctor.cpp.j2' %}
}

{% for sub in subscribers %}
void {{ node_classname }}::{{ sub.callback }}(const {{ sub.msg_type }}{{ suffixes[sub.callback_arg_type] }} msg)
{
    // TODO: add implementation
}
{% endfor %}

{% for tim in timers %}
void {{ node_classname }}::{{ tim.callback }}()
{
    // TODO: add implementation
}
{% endfor %}

{% for srv in services %}
void {{ node_classname }}::{{ srv.callback }}(
  const std::shared_ptr<{{ srv.type }}::Request> request, 
  std::shared_ptr<{{ srv.type }}::Response> response)
{
    // TODO: add implementation
}
{% endfor %}

{% include 'elements/action_servers.cpp.j2' %}

{% include 'elements/action_clients.cpp.j2' %}

{% for sync_subs in  sync_subscribers %}
void {{ node_classname }}::{{ sync_subs.callback }}(
  {% for i in range(sync_subs.subs|length) %}
  const {{ sync_subs.subs[i].msg_type }}::ConstSharedPtr& msg_{{ i+1 }}{% if not loop.last %},{% endif %} 
  {% endfor %}
)
{
    // TODO: add implementation
}
{% endfor %}

{% if node_ns %}
} // namespace {{ node_ns }}
{% endif %}

{% if is_component %}
#include "rclcpp_components/register_node_macro.hpp"
RCLCPP_COMPONENTS_REGISTER_NODE({{ node_ns + '::' if node_ns }}{{ node_classname }})
{% else %}
int main(int argc, char ** argv)
{
  rclcpp::init(argc, argv);
  auto node = std::make_shared<{{ node_ns + '::' if node_ns }}{{ node_classname }}>();
  rclcpp::spin(node);
  rclcpp::shutdown();
  return 0;
}
{% endif %}