{% if advertisement %}
// {{ advertisement }}
{% endif %}
#include "{{ package_name }}/{{ node_filename }}.hpp"
{% if timers %}
#include <chrono>
using namespace std::chrono_literals;
{% endif %}
{% if action_servers %}
#include <thread>
{% endif %}

{% if node_ns %}
namespace {{ node_ns }}
{
{% endif %}
{% set suffixes = {'obj': '', 'uptr': '::UniquePtr', 'sptr': '::SharedPtr', 'csptr': '::ConstSharedPtr'} %}

{{ node_classname }}::{{ node_classname }}({% if is_component %}const rclcpp::NodeOptions& options{% endif %}): Node("{{ node_name }}"{% if is_component %}, options{% endif %})
{% if tf_listener %}
, tf_buffer_(this->get_clock()),
  tf_listener_(tf_buffer_)
{% endif %}
{
    {% if params %}
    // Params
    {% endif %}
    {% for par in params %}
    auto {{ par.name }} = this->declare_parameter<{{ par.type }}>("{{ par.name }}", {{ par.default }});
    {% endfor %}
    
    {% if publishers %}
    // Publishers
    {% endif %}
    {% for pub in publishers %}
      {% if pub.qos.is_default %}
        {% set qos_expr = '{' ~ pub.qos.queue_size ~ '}' %}
      {% else %}
    rclcpp::QoS {{ pub.var_name }}_qos({{ pub.qos.queue_size }});
        {% if pub.qos.is_keep_all %}
    {{ pub.var_name }}_qos.keep_all();
        {% endif %}
        {% if pub.qos.is_best_effort %}
    {{ pub.var_name }}_qos.best_effort();
        {% endif %}
        {% if pub.qos.is_transient_local %}
    {{ pub.var_name }}_qos.transient_local();
        {% endif %}
        {% set qos_expr = pub.var_name ~ '_qos' %}
      {% endif %}
    this->{{ pub.var_name }} = this->create_publisher<{{ pub.msg_type }}>("{{ pub.topic }}", {{ qos_expr }});
    {% endfor %}
    
    {% if subscribers %}
    // Subscribers
    {% endif %}
    {% for sub in subscribers %}
      {% if sub.qos.is_default %}
        {% set qos_expr = '{' ~ sub.qos.queue_size ~ '}' %}
      {% else %}
    rclcpp::QoS {{ sub.var_name }}_qos({{ sub.qos.queue_size }});
        {% if sub.qos.is_keep_all %}
    {{ sub.var_name }}_qos.keep_all();
        {% endif %}
        {% if sub.qos.is_best_effort %}
    {{ sub.var_name }}_qos.best_effort();
        {% endif %}
        {% if sub.qos.is_transient_local %}
    {{ sub.var_name }}_qos.transient_local();
        {% endif %}
        {% set qos_expr = sub.var_name ~ '_qos' %}
      {% endif %}
    this->{{ sub.var_name }} = this->create_subscription<{{ sub.msg_type }}>(
        "{{ sub.topic }}", {{ qos_expr }},
      [&]({{ sub.msg_type }}{{ suffixes[sub.callback_arg_type] }} msg) { this->{{ sub.callback }}(std::move(msg)); });
    {% endfor %}

    {% if timers %}
    // Timers
    {% endif %}
    {% for tim in timers %}
    this->{{ tim.var_name }} = this->create_wall_timer({{ tim.period }}ms, [&](){ this->{{ tim.callback }}(); });
    {% endfor %}

    {% if services %}
    // Services
    {% endif %}
    {% for srv in services %}
    this->{{ srv.var_name }} = this->create_service<{{ srv.type }}>("{{ srv.name }}", 
      [this](const std::shared_ptr<{{ srv.type }}::Request> request, std::shared_ptr<{{ srv.type }}::Response> response){ this->{{ srv.callback }}(std::move(request), std::move(response)); }
    );
    {% endfor %}
    
    {% if clients %}
    // Clients
    {% endif %}
    {% for client in clients %}
    this->{{ client.var_name }} = this->create_client<{{ client.type }}>("{{ client.srv_name }}");
    {% endfor %}
    {% if clients %}
    // TODO: add waiting for services
    {% endif %}

    {% if action_servers %}
    // Action servers
    using namespace std::placeholders;
    {% endif %}
    {% for action_srv in action_servers %}
    this->{{ action_srv.var_name }} = rclcpp_action::create_server<{{ action_srv.type }}>(
        this,
        "{{ action_srv.name }}",
        [this](const rclcpp_action::GoalUUID & uuid, std::shared_ptr<const {{ action_srv.type }}::Goal> goal){return this->{{ action_srv.handle_goal }}(std::move(uuid), std::move(goal));},
        [this](const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle){return this->{{ action_srv.handle_cancel }}(std::move(goal_handle));},
        [this](const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle){this->{{ action_srv.handle_accepted }}(std::move(goal_handle));}
    );
    {% endfor %}
}

{% for sub in subscribers %}
void {{ node_classname }}::{{ sub.callback }}(const {{ sub.msg_type }}{{ suffixes[sub.callback_arg_type] }} msg)
{
    // TODO: add implementation
}
{% endfor %}

{% for tim in timers %}
void {{ node_classname }}::{{ tim.callback }}()
{
    // TODO: add implementation
}
{% endfor %}

{% for srv in services %}
void {{ node_classname }}::{{ srv.callback }}(
  const std::shared_ptr<{{ srv.type }}::Request> request, 
  std::shared_ptr<{{ srv.type }}::Response> response)
{
    // TODO: add implementation
}
{% endfor %}

{% for action_srv in action_servers %}
rclcpp_action::GoalResponse {{ node_classname }}::{{ action_srv.handle_goal }}([[maybe_unused]] const rclcpp_action::GoalUUID & uuid, std::shared_ptr<const {{ action_srv.type }}::Goal> goal)
{
    // TODO: add implementation
    return rclcpp_action::GoalResponse::ACCEPT_AND_EXECUTE;
}
rclcpp_action::CancelResponse {{ node_classname }}::{{ action_srv.handle_cancel }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: add implementation
    return rclcpp_action::CancelResponse::ACCEPT;
}
void {{ node_classname }}::{{ action_srv.handle_accepted }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: change implementation if necessary
    std::thread{[this, goal_handle](){this->{{ action_srv.execute }}(goal_handle);}}.detach();
}
void {{ node_classname }}::{{ action_srv.execute }}(const std::shared_ptr<rclcpp_action::ServerGoalHandle<{{ action_srv.type }}>> goal_handle)
{
    // TODO: add implementation
    rclcpp::Rate loop_rate(1);
    auto feedback = std::make_shared<{{ action_srv.type }}::Feedback>();
    auto result = std::make_shared<{{ action_srv.type }}::Result>();
    // TODO: change loop condition
    const size_t num_steps = 10;
    for (size_t i = 0; (i < num_steps) && rclcpp::ok(); ++i)
    {
        if (goal_handle->is_canceling())
        {
            // TODO: update result
            goal_handle->canceled(result);
            return;
        }
        // TODO: update feedback
        goal_handle->publish_feedback(feedback);
        loop_rate.sleep();
    }
    if (rclcpp::ok())
    {
        // TODO: update result
        goal_handle->succeed(result);
    }
}
{% endfor %}

{% if node_ns %}
} // namespace {{ node_ns }}
{% endif %}

{% if is_component %}
#include "rclcpp_components/register_node_macro.hpp"
RCLCPP_COMPONENTS_REGISTER_NODE({{ node_ns + '::' if node_ns }}{{ node_classname }})
{% else %}
int main(int argc, char ** argv)
{
  rclcpp::init(argc, argv);
  auto node = std::make_shared<{{ node_ns + '::' if node_ns }}{{ node_classname }}>();
  rclcpp::spin(node);
  rclcpp::shutdown();
  return 0;
}
{% endif %}