{% extends "galactic/node.hpp.jinja2" %}
{% block tf_includes %}
#include "tf2_ros/buffer.hpp"
#include "tf2_ros/transform_listener.hpp"
{% endblock %}

{% block extra_in_namespace %}
    {% for sub in subscribers %}
        {% if sub.adapter_name %}
template<>
struct rclcpp::TypeAdapter<{{ sub.cpp_type }}, {{ sub.msg_type }}>
{
    using is_specialized = std::true_type;
    using custom_type = {{ sub.cpp_type }};
    using ros_message_type = {{ sub.msg_type }};
    static void convert_to_ros_message(const custom_type & source, ros_message_type & destination)
    {
        // TODO: add conversion from {{ sub.cpp_type }} to {{  sub.msg_type }}
    }
    static void convert_to_custom(const ros_message_type & source, custom_type & destination)
    {
        // TODO: add conversion from {{ sub.msg_type }} to {{  sub.cpp_type }}
    }
};
        {% endif %}
    {% endfor %}
    {% for pub in publishers %}
        {% if pub.adapter_name %}
template<>
struct rclcpp::TypeAdapter<{{ pub.cpp_type }}, {{ pub.msg_type }}>
{
    using is_specialized = std::true_type;
    using custom_type = {{ pub.cpp_type }};
    using ros_message_type = {{ pub.msg_type }};
    static void convert_to_ros_message(const custom_type & source, ros_message_type & destination)
    {
        // TODO: add conversion from {{ pub.cpp_type }} to {{  pub.msg_type }}
    }
    static void convert_to_custom(const ros_message_type & source, custom_type & destination)
    {
        // TODO: add conversion from {{ pub.msg_type }} to {{  pub.cpp_type }}
    }
};
        {% endif %}
    {% endfor %}
{% endblock %}

{% block sub_declaration scoped %}
    {% if sub.adapter_name %}
    using {{ sub.adapter_name }} = rclcpp::TypeAdapter<{{ sub.cpp_type }}, {{ sub.msg_type }}>;
    rclcpp::Subscription<{{ sub.adapter_name }}>::SharedPtr {{ sub.var_name }};
    void {{ sub.callback }}(const {{ sub.cpp_type }}& msg) const;
    {% else %}
{{ super() }}
    {% endif %}
{% endblock %}
{% block pub_declaration scoped %}
    {% if pub.adapter_name %}
    rclcpp::Publisher<{{ pub.cpp_type }}>::SharedPtr {{ pub.var_name }};
    {% else %}
{{ super() }}
    {% endif %}
{% endblock %}